Repository i0bs/retux, pull requests merged in 2022-08, with the labels that each got.

#25 feat: Implement mixins
  retux/api/http.py
  retux/client/__init__.py
  retux/client/mixins/respondable.py
  retux/client/resources/channel.py
Labels: not a bug, client, api

#31 fix: fix return type of `list_c`
  retux/utils/converters.py
Labels: bug, client

#21 feat: implement `Sticker` object
  retux/client/resources/channel.py
  retux/client/resources/guild.py
  retux/client/resources/sticker.py
Labels: not a bug, client

#29 feat: implement Guild Scheduled Events
  retux/client/resources/__init__.py
  retux/client/resources/guild.py
  retux/client/resources/guild_scheduled_event.py
Labels: not a bug, client

#27 feat: Implement `Invite` object
  retux/client/resources/invite.py
Labels: not a bug, client

#34 feat: implement `GuildTemplate` object
  retux/client/resources/guild_template.py
Labels: not a bug, client

#36 feat: implement `VoiceState` object
  retux/client/resources/voice_state.py
Labels: not a bug, client

#44 feat: implement webhook object
  retux/client/resources/__init__.py
  retux/client/resources/webhook.py
Labels: not a bug, client

#46 feat: implement `Image` object
  retux/client/resources/abc.py
Labels: not a bug, client

#49 feat: implement `Serializable` mixin
  retux/client/mixins.py
Labels: bug, client, priority

#50 feat: implement `Timestamp` object
  retux/client/resources/abc.py
  retux/client/resources/channel.py
  retux/client/resources/emoji.py
  retux/client/resources/guild.py
  retux/client/resources/sticker.py
Labels: not a bug, client

#57 refactor: move sanitization to `Serializable._c`
  retux/api/gateway.py
  retux/client/mixins.py
Labels: not a bug, api

#23 feat: implement `ImageData` object
  retux/client/resources/__init__.py
  retux/client/resources/misc.py
  retux/const.py
  retux/utils/converters.py
Labels: not a bug, client

#59 refactor: remove `_Event` in favour of `Object`
  retux/api/events/abc.py
  retux/api/events/connection.py
  retux/api/events/misc.py
  retux/api/gateway.py
  retux/client/resources/abc.py
  retux/client/resources/guild.py
Labels: not a bug, api

#38 feat: implement `StageInstance` object
  retux/client/resources/stage_instance.py
Labels: not a bug, client

#67 refactor: move to cattrs for structuring data
  retux/client/bot.py
  retux/utils/hooks.py
Labels: not a bug, client, api

#68 refactor!: remove attrs boilerplate and converters in favour of cattrs logic
  retux/api/events/connection.py
  retux/api/events/misc.py
  retux/api/gateway.py
  retux/client/mixins.py
  retux/client/resources/abc.py
  retux/client/resources/app_commands.py
  retux/client/resources/application.py
  retux/client/resources/channel.py
  retux/client/resources/components.py
  retux/client/resources/emoji.py
  retux/client/resources/guild.py
  retux/client/resources/guild_scheduled_event.py
  retux/client/resources/guild_template.py
  retux/client/resources/invite.py
  retux/client/resources/misc.py
  retux/client/resources/role.py
  retux/client/resources/stage_instance.py
  retux/client/resources/sticker.py
  retux/client/resources/user.py
  retux/client/resources/voice_state.py
  retux/client/resources/webhook.py
  retux/utils/hooks.py
Labels: not a bug, client
